.btn-dropdown{
    background-color: #1F2374;
    width: 225px;
    height: 50px;
    color: white;
}
.price{
    color: #1F2374;
    font-weight: bold;
}
.price-title{
    color: #1F2374;
}
.card-style{
    background-color: #F3F5F8;
    border: 1px solid #F3F5F8;
    border-radius: 15px;
    cursor: pointer;
}
.card-style:hover{
    background-color: white;
    box-shadow: 1px 0px 15px -2px rgba(0,0,0,0.75);
}
.revice{
    color: #959BA0;
    font-size: 16px;
    line-height: 24px;
}
.pay{
    color: #959BA0;
    font-size: 16px;
    line-height: 24px;
}
.btn-buy{
    background-color: rgb(239, 139, 12);
    width: 10rem;
    color: white;
    font-weight: bold;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
.header-modal{
    font-size: 25px;
}
.modal-main {
    position:fixed;
    background: white;
    width: 35%;
    height: 50%;
    top:50%;
    left:50%;
    border-radius: 15px;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
.btn-close:hover{
    background-color:#F3F5F8 ;
}
